<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Api Home</title>
  </head>
  <body>
    <h5>Here is demo text: </h5><%- demovalue %>
    <br>
    <br>
    <h5>Here is demo Image: </h5> <img src="demo-image.jpg"></img>
  </body>
</html>
